<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="/static/css/daterangepicker.css" rel="stylesheet">
        <link href="/static/css/mdb.css" rel="stylesheet">
        <!-- to use jquery: $.get('/check?from=' + input.value,.....>> use the following jquery not the slim version -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="/static/js/daterangepicker.js"></script>
        <script src="/static/js/mdb.js"></script>
        <title> Cheap Flights </title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/"><b>  Flights </b></a>
            </nav> 
                </div>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer class="small text-center text-muted">
            Data provided for free by <a href="https://developers.amadeus.com/">AMADEUS</a>. View <a href="https://developers.amadeus.com/legal/terms-of-use">AMADEUS’s Terms of Use</a>.
        </footer>
        {% block script %}{% endblock %}
    </body>
</html>    
